body {
    background-color: rgb(0, 61, 7);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-size: 100%;
}
